body {
    height: 100vh;
    width: 100vw;
}

@keyframes logo-bobbing {
    from {
        top: 10px;
    }

    to {
        top: 22px;
    }
}

header {
    position: fixed;
    top: 16px;
    left: 16px;
    z-index: 10;
    animation-name: logo-bobbing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

main {
    width: 100%;
    height: 100%;
}

#canvas-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}

#hud-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
}

#music-toggle {
    position: absolute;
    right: 16px;
    top: 16px;
    background: none;
    border: none;
    cursor: pointer;
}

#feed {
    position: absolute;
    bottom: 80px;
    left: 48%;
    background: none;
    border: none;
    cursor: pointer;
}

#hunger_bar {
    position: absolute;
    bottom: 20px;
    left: 44%;
    background: gainsboro;
    border: 1px;
    height: 20px;
    width: 15%;
    box-shadow: 3px 3px 3px lightslategray;
    border-radius: 25px;
}

#hunger_progress {
    position: absolute;
    background-image: linear-gradient(to bottom right, green, lightgreen);
    border: 1px;
    height: 20px;
    width: 50%;
    border-radius: 25px;
}

#hunger_icon {
    position: absolute;
    bottom: 16px;
    left: 41.5%;
    background: none;
}

#happiness_bar {
    position: absolute;
    bottom: 50px;
    left: 44%;
    background: gainsboro;
    border: 1px;
    height: 20px;
    width: 15%;
    box-shadow: 3px 3px 3px lightslategray;
    border-radius: 25px;
}

#happiness_progress {
    position: absolute;
    background-image: linear-gradient(to bottom right, pink, hotpink);
    border: 1px;
    height: 20px;
    width: 50%;
    border-radius: 25px;
}

#happiness_icon {
    position: absolute;
    bottom: 50px;
    left: 41.5%;
    background: none;
}

.faded {
    opacity: 0.5;
}